<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../output.css" rel="stylesheet">
    <title>Document</title>
</head>

<body class="bg-gray-100">

    <div class="flex">
        <div class="w-64 h-screen bg-gray-800 text-white p-5">
            <h2 class="text-2xl font-bold text-center mb-10">Admin</h2>
            <ul>
                <li><a href="#" class="block px-4 py-2 hover:bg-gray-700 rounded">Dashboard</a></li>
                <li><a href="AccountManagement.html" class="block px-4 py-2 hover:bg-gray-700 rounded">Quản lý Tài
                        Khoản</a></li>
                <li><a href="#" class="block px-4 py-2 hover:bg-gray-700 rounded">Dịch Vụ</a></li>
                <li><a href="#" class="block px-4 py-2 hover:bg-gray-700 rounded">Thống Kê</a></li>
                <li><a href="#" class="block px-4 py-2 hover:bg-gray-700 rounded">Cài Đặt</a></li>
            </ul>
        </div>

        <div class="flex-1 p-6">
            <header class="flex justify-between items-center bg-white p-4 shadow-md rounded-lg mb-6">
                <h1 class="text-xl font-bold">Admin</h1>
                <div>
                    <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Đăng Xuất</button>
                </div>
            </header>
        </div>
    </div>
</body>

</html>

<script src="../Scripts/Home.js">